h1, h5 {
  width: 100%;
}

.folder {
  width: 175px;
  height: 175px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #f8f9fa;
  flex-shrink: 0;
  position: relative; /* Asegura que los elementos dentro se posicionen relativo a este contenedor */
}

.folder-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 0 10px;
  color: #333;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto que se desborda */
}

.folder .file-item {
  margin-top: 10px;
}

.folder .icon {
  font-size: 80px !important;
}

.folder:hover {
  cursor: pointer;
  background-color: #c0bfbf;
}

/* Estilo del Dropdown dentro de .folder */
.folder .dropdown {
  position: absolute;
  top: 5px; /* Ajuste para mantener el dropdown en la parte superior */
  right: 5px; /* Asegura que el dropdown esté alineado a la derecha */
}

.file-menu {
  background-color: #e0e0e0; /* Color de fondo del botón */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-folder {
  background-color: #c0bfbf;
  border: 1px solid #000;
}

.dropzone {
  width: 98%;
  margin: 1%;
  border-radius: 5px;
  transition: 0.2s;
}

.dropzone.dz-drag-hover {
  border: 2px solid #3498db !important;
}

.dz-message.needsclick img {
  width: 50px;
  display: block;
  margin: auto;
  opacity: 0.6;
  margin-bottom: 15px;
}

.dropzone.dz-started .dz-message {
  display: flex !important;
  width: 120px;
  float: right;
  border: 1px solid rgba(238, 238, 238, 0.36);
  border-radius: 30px;
  height: 120px;
  margin: 16px;
  transition: 0.2s;
}

.dropzone.dz-started .dz-message span.text {
  display: none;
}

.titulo_modal {
  text-align: center;
}

.modal-footer-upload {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: auto;
  padding: 0;
  z-index: 10;
}
#uploadBtn {
  display: inline-flex;
  align-items: center;
}

/** custon select html */
select.custom-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #e3e3e3;
  color: #464545;
  cursor: pointer;
}

.custom-option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.custom-option span {
  margin-right: 8px;
  font-size: 18px;
}
/** fin del custom select */

.bi {
  font-size: 20px;
}
.sidebarToggle {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.text-black{
  color: black;
}
#linkVolver{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #646464;
  color: white !important;
  border: none;
  border-radius: 15px 0px;
  padding: 3px 10px;
}
#linkVolver a:hover{
  opacity: 0.8;
}
.link-folder-activo{
font-weight: 600;
}