#loader:not([hidden]) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	z-index:1;
	background-color: #3333;
  }
  
  #loader::after {
	content: "";
	width: 50px;
	height: 50px;
	border: 3px solid #f3f3f3;
	border-top: 3px solid #cbe42e;
	border-radius: 100%;
	will-change: transform;
	animation: spin 1s infinite linear
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }